<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info"> 
            <div class="image">
                <img src='<%= baseFrame.userImage %>' width="48" height="48" alt="User" />
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= baseFrame.userName %></div>
                <div class="email">
                        <% baseFrame.siteName.forEach(function(site) { %>
                          <%=site %> | 
                        <%}); %>
                </div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                        <li role="seperator" class="divider"></li>
                        <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">MAIN NAVIGATION</li>

                <% sideMenu.forEach(function(site) { %>
                    <li class=<%=site.state %> >
                        <a href=<%=site.link %> >
                            <i class="material-icons"><%=site.icon %></i>
                            <span><%=site.name %></span>
                        </a>
                    </li>
                <%}); %>
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; 2017 <a href="javascript:void(0);">PIXSELL - Legator Solutions</a>.
            </div>
            <div class="version">
                <b>Version: </b> 0.1
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
</section>
